*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
}

.container-01{
    height: 93vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    width: 950px;
    height: 600px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.con1{
    margin:20px;
    display: flex;
    align-items: center;
    gap:10px;
}

